<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浏览器版本太低</title>
</head>
<body>
    <div align="center">
        <h1>您的浏览器版本太低</h1>
        <p>我们检测到您的浏览器版本太低，网页使用了很多酷炫的效果，为了可以</p>
        <p>正常使用这些效果，建议更换ie9及以上版本，或者使用chrome浏览器</p>
        <p>点击图标下载对应浏览器</p>
        <a href="http://www.google.cn/chrome/browser/desktop/index.html"><img src="/static/img/chrome.png" width="128px" height="128px"></a>
        <a href="http://www.firefox.com.cn/download/"><img src="/static/img/firefox.png" width="128px" height="128px"></a>
        <a href="https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads"><img src="/static/img/ie.png" width="128px" height="128px"></a>
    </div>
</body>
</html>